In [121]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('.data/main.db')
c = conn.cursor()

In [122]:
tables = c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [x[0] for x in c.fetchall()[1:]]
tables

['objectives', 'teams', 'tasks', 'library_values']

In [123]:
objectives, teams, tasks, values = [pd.read_sql(f'select * from {table}', conn) for table in tables]

In [124]:
objectives

   id                                          objective
0   0  Respond to the impacts of the pandemic within ...
1   2      Maximise use of the service and its resources
2   3  Mitigate the risks posed by the pandemic to th...

In [125]:
teams

   id                      team
0   0                  Pillar 0
1   1                  Pillar 1
2   2                  Pillar 2
3   3                  Pillar 3
4   4                  Pillar 4
5   5                  Pillar 5
6   6                  Pillar 6
7   7                Operations
8   8  Service Development Team
9   9           Management Team

In [126]:
def get_team_id(s):
    res = teams[teams.team==s].id.values
    if len(res)<1:
        return s
    else:
        return res[0]

In [127]:
tasks

,id,task,team,objective,complete
0,316,Introduce Kickstart Trainees into libraries,0,0,FALSE
1,317,Develop online conversation cafes,7,0,TRUE
2,318,Introduce remote IT support for customers,7,0,TRUE
3,319,Reinstate B&SC IT classes at CLN,7,0,FALSE
4,320,Reinstate B&SC IT classes at HEN,7,0,TRUE
5,321,Develop online STEAM events,8,0,FALSE
6,322,Develop virtual class visits,8,0,FALSE
7,323,Participate in London City of Stories 2021,8,0,FALSE
8,324,Review participation in national SRC for 2022,8,0,FALSE
9,325,Develop EY nuture groups,9,0,TRUE
10,326,Develop Reading Friends groups,9,0,TRUE
11,327,Funding application for laptop distribution,9,0,TRUE
12,328,Roll out Windows 10 PCs,9,0,FALSE
13,329,Review all committee forward plans to identify...,1,2,FALSE
14,330,upgrade physical and digital signage/ design s...,2,2,FALSE
15,331,Develop staff training plan (to include skills...,5,2,FALSE
16,332,Relaunch Libraries Leadership Programme,5,2,FALSE
17,333,Develop annual work plan for Libraries Equalit...,7,2,FALSE
18,334,"ESP Project to upgrade boilers, ventilation an...",7,2,FALSE
19,335,New Burnt Oak Library - work with Boost to foc...,7,2,FALSE
20,336,Renew visitor counters,7,2,FALSE
21,337,Develop communications strategy and forward plan,9,2,FALSE
22,338,Ensure that libraries are part of key corporat...,9,2,FALSE
23,339,New Hendon Library - include multi-use/ multi-...,9,2,FALSE
24,340,Open + v2 roll-out,9,2,FALSE
25,341,Develop volunteering strategy and introduce SS...,0,3,FALSE
26,342,Deliver alternative conference/ investigate op...,1,3,FALSE
27,343,Develop proposals for future income generation,1,3,FALSE
28,344,Continue S&C after libraries open for browsing...,2,3,FALSE
29,345,Map existing partnerships and identify gaps,3,3,FALSE
30,346,Map existing partnerships and identify gaps,4,3,FALSE
31,347,Map existing partnerships and identify gaps,5,3,FALSE
32,348,Develop income strategy,6,3,FALSE
33,349,Introduce mechanism for accepting donations.,6,3,FALSE
34,350,Revise room booking fees and charges,6,3,TRUE
35,351,Develop volunteering strategy and introduce SS...,7,3,FALSE
36,352,Library Development plans created for all loca...,7,3,FALSE
37,353,Use HLS/MOB to extend reach of S&C.,7,3,TRUE
38,354,Define customer segmentation for marketing and...,8,3,FALSE
39,355,Develop online enquiries service,9,3,TRUE
40,356,Develop outreach strategy (link to IDP),9,3,FALSE
41,357,Here to Help newly named ‘Discover Your Librar...,9,3,FALSE
42,358,NBA – investigate how opening hours can be ext...,9,3,FALSE
43,359,,5,3,FALSE
44,360,,3,3,FALSE
45,361,,8,2,FALSE
46,362,,6,2,FALSE
47,363,,4,2,FALSE
48,364,,3,2,FALSE
49,365,,6,0,FALSE
50,366,,5,0,FALSE
51,367,,4,0,FALSE
52,368,,2,0,FALSE
53,369,,1,0,FALSE
54,370,,3,0,FALSE
55,371,,0,2,FALSE

In [128]:
xl = pd.ExcelFile('Team plan 2020-21 Excel.xlsx')
objs_lu = {'Mitigate risks to lib service ': 3,
 'Impacts of the pandemic': 0,
 'Maximise use of the service': 2}

    # ['Pillar 0',
    # 'Pillar 1',
    # 'Pillar 2',
    # 'Pillar 3',
    # 'Pillar 4',
    # 'Pillar 5',
    # 'Pillar 6',
    # 'Operations',
    # 'Service Development Team',
    # 'Management Team']

team_fix={'CL': 'Management Team',
 'SG': 'Management Team',
 'HR': 'Management Team',
 'RP': 'Management Team',
 'Ops Teams': 'Operations',
 'LMT': 'Management Team',
 'FPR': 'Management Team',
 'P6': 'Pillar 6',
 'P2': 'Pillar 2',
 'Ops Team': 'Operations',
 'Recovery Group': 'Operations',
 'P0': 'Pillar 0',
 'P4': 'Pillar 4',
 'LCSMs': 'Operations',
 'KM': 'Operations',
 'CW': 'Operations',
 'P5': 'Pillar 5',
 'CL/SG': 'Service Development Team',
 'LLL': 'Pillar 1',
 'Early Years': 'Service Development Team',
 'blank': '',
 'HR/RP': 'Management Team',
 'SDL Team': 'Service Development Team',
 'Ops ': 'Operations',
 'SM': 'Operations',
 'NM': 'Service Development Team',
 'P1': 'Pillar 1',
 'II': 'Operations',
 'SGreen': 'Operations',
 'NB': 'Service Development Team',
 'EY': 'Early Years',
 'All Teams': 'All Teams',
 'SDLs': 'Service Development Team',
 'Estates': '',
 'Equalities Group': 'Operations',
 'P3': 'Pillar 3',
 'HP': 'Operations',
 ' ': 'blank',
 'Early Years': 'Service Development Team',
 'Estates':'Operations'}

def _objective_id(s):
        return objectives[objectives.objective==s].id.values[0]

def _fix_hr(xl):
    df = pd.concat([xl.parse(sn, skiprows=2).assign(objective=objs_lu[sn]) for sn in xl.sheet_names]).reset_index().drop('index',axis=1)
    who_cols=[x for x in df.columns if 'Who' in x]
    drop_cols = [x for x in df.columns if 'Unnamed' in x]
    df = df.drop(drop_cols, axis=1)
    cols = ['What', 'Progress', 'objective'] + who_cols
    df = pd.melt(df[cols], id_vars=['What','Progress', 'objective']).rename({'value':'team', 'What':'task'}, axis=1).drop('variable',axis=1)
    df['team'] = df['team'].fillna('blank').apply(lambda x: team_fix[x] if team_fix[x] else x).replace('Early Years','Service Development Team')
    df = df[df.team!='blank']
    objectives_lookup = {id: objective for id, objective in zip(list(objectives.id), list(objectives.objective))}
    df['objective'] = df.objective.apply(lambda x: objectives_lookup[x])
    df['team_id'] = df.team.apply(get_team_id)
    def _fix(d):
        to_fix = d[d.team_id=='All Teams']
        tup = list(to_fix[['task','Progress','objective']].itertuples(index=False, name=None))[0]
        out_cols = ['task', 'Progress', 'objective', 'team', 'team_id']
        _teams = list(teams.team.unique())
        rows = []
        for t in _teams:
            rows.append(tup + (t, get_team_id(t)))
        ndf = pd.DataFrame(rows, columns=out_cols)
        return pd.concat([d[d.team_id!='All Teams'], ndf])
    df = _fix(df).reset_index().drop('index', axis=1)
    df['team_id']=pd.to_numeric(df['team_id'])
    def _objective_id(s):
        return objectives[objectives.objective==s].id.values[0]
    df['objective_id'] = df.objective.apply(_objective_id)
    out_cols = ['task','team','objective','complete']

    def _max_is_four_per_seg(df):
        # which segments have more than four - make a count column
        # return pd.merge(df, df[['objective','team','task']].groupby(['objective', 'team']).cumcount().reset_index().rename({'task':'seg_count'}, axis=1))
        df['seg_count']= df[['objective','team','task']].groupby(['objective', 'team']).cumcount()
        df['seg_count'] = df['seg_count'].apply(lambda x: x+1)
        # df['seg_count_max']= df[['objective','team','seg_count']].groupby(['objective', 'team']).max()
        return df.merge(df[['objective','team','seg_count']].groupby(['objective', 'team']).max().reset_index().rename({'seg_count':'seg_count_max'}, axis=1))
    
    # ['Pillar 0',
    # 'Pillar 1',
    # 'Pillar 2',
    # 'Pillar 3',
    # 'Pillar 4',
    # 'Pillar 5',
    # 'Pillar 6',
    # 'Operations',
    # 'Service Development Team',
    # 'Management Team']
    df = _max_is_four_per_seg(df.sort_values(['objective_id','team_id'], ascending=False))
    return df

df = _fix_hr(xl)
df

,task,Progress,objective,team,team_id,objective_id,seg_count,seg_count_max
0,NBA – investigate how opening hours can be ext...,Open,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,1,22
1,Here to Help newly named ‘Discover Your Librar...,Open,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,2,22
2,Develop outreach strategy (link to IDP),Open,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,3,22
3,Develop online enquiries service,completed,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,4,22
4,Develop income strategy,Open,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,5,22
...,...,...,...,...,...,...,...,...
122,Participate in London City of Stories 2021,Open,Respond to the impacts of the pandemic within ...,Operations,7,0,8,10
123,Introduce Kickstart Trainees into libraries,Started,Respond to the impacts of the pandemic within ...,Operations,7,0,9,10
124,Retain programme of online events – planning 1...,started,Respond to the impacts of the pandemic within ...,Operations,7,0,10,10
125,Review participation in national SRC for 2022,open,Respond to the impacts of the pandemic within ...,Pillar 3,3,0,1,1
126,Introduce Kickstart Trainees into libraries,Started,Respond to the impacts of the pandemic within ...,Pillar 0,0,0,1,1

In [129]:
def _final(init):
    final = init.sort_values(['team_id','objective_id'], ascending=False).drop_duplicates(subset='team', keep='first')
    df = init.loc[[x for x in init.index if x not in final.index]].sort_values(['team_id','objective_id'], ascending=False)
    cols = ['task', 'Progress', 'objective', 'team', 'team_id', 'objective_id',
       'seg_count', 'seg_count_max']
    # checks
    # 1. if the task is not in final, and the current seg count is less than 5 add it 
    for idx, row, in df.iterrows():
        task, prog, obj, team, teamid, objid, segcount, segcountmax = tuple(row)
        curr_seg_count = final[(final.objective==obj)&(final.team==team)].task.count()
        if task not in list(final.task.unique()) and curr_seg_count<4:
            r = pd.Series(row, index=cols)
            final = final.append(r, ignore_index=True)
    final['seg_count']= final[['objective','team','task']].groupby(['objective', 'team']).cumcount().apply(lambda x: x+1)
    # df.merge(df[['objective','team','seg_count']].groupby(['objective', 'team']).max().reset_index().rename({'seg_count':'seg_count_max'}, axis=1))
    final = final.drop('seg_count_max',axis=1).sort_values(['task','team_id']).merge(final[['objective','team','seg_count']].groupby(['objective', 'team']).max().reset_index().rename({'seg_count':'seg_count_max'}, axis=1)).sort_values(['objective_id','team_id'])
    # check 2 - add any blanks, so if each objective and team doesn't have one task then add a row with blank '' task
    for objective in df.objective.unique():
        for team in df.team.unique():
            check = len(df[(df.objective==objective) & (df.team==team)].index)
            if check<1:
                tup = ('','incomplete',objective, team,get_team_id(team), _objective_id(objective), 1, 1)
                r = pd.Series(tup, index=cols)
                final = final.append(r, ignore_index=True)
    final = final[['task','team_id','objective_id','Progress']]
    final.columns=['task','team','objective','complete']
    final['complete'] = final.complete.apply(lambda x: 'TRUE' if x=='completed' else 'FALSE')
    init[~init.task.isin(final.task)].to_csv('objectives_lost.csv',index=False)
    return final


df = _final(df[df.Progress!='completed'])
df

,task,team,objective,complete
0,Develop online reading groups/ facebook groups,7,0,FALSE
1,Introduce Kickstart Trainees into libraries,7,0,FALSE
2,Reinstate B&SC IT classes at CLN,7,0,FALSE
3,Develop online STEAM events,8,0,FALSE
4,Develop virtual class visits,8,0,FALSE
5,Participate in London City of Stories 2021,8,0,FALSE
6,Review participation in national SRC for 2022,8,0,FALSE
7,Establish social prescribign routes to adult l...,9,0,FALSE
8,Establish social prescribign routes to child/ ...,9,0,FALSE
9,Retain programme of online events – planning 1...,9,0,FALSE
10,Roll out Windows 10 PCs,9,0,FALSE
11,Review all committee forward plans to identify...,1,2,FALSE
12,upgrade physical and digital signage/ design s...,2,2,FALSE
13,Develop staff training plan (to include skills...,5,2,FALSE
14,Relaunch Libraries Leadership Programme,5,2,FALSE
15,Develop annual work plan for Libraries Equalit...,7,2,FALSE
16,"ESP Project to upgrade boilers, ventilation an...",7,2,FALSE
17,New Burnt Oak Library - work with Boost to foc...,7,2,FALSE
18,Renew visitor counters,7,2,FALSE
19,Develop communications strategy and forward plan,9,2,FALSE
20,Ensure that libraries are part of key corporat...,9,2,FALSE
21,New Hendon Library - include multi-use/ multi-...,9,2,FALSE
22,Open + v2 roll-out,9,2,FALSE
23,Develop volunteering strategy and introduce SS...,0,3,FALSE
24,Deliver alternative conference/ investigate op...,1,3,FALSE
25,Develop proposals for future income generation,1,3,FALSE
26,Continue S&C after libraries open for browsing...,2,3,FALSE
27,Map existing partnerships and identify gaps,3,3,FALSE
28,Map existing partnerships and identify gaps,4,3,FALSE
29,Map existing partnerships and identify gaps,5,3,FALSE
30,Introduce mechanism for accepting donations.,6,3,FALSE
31,Develop volunteering strategy and introduce SS...,7,3,FALSE
32,Library Development plans created for all loca...,7,3,FALSE
33,Define customer segmentation for marketing and...,8,3,FALSE
34,Develop income strategy,9,3,FALSE
35,Develop outreach strategy (link to IDP),9,3,FALSE
36,Here to Help newly named ‘Discover Your Librar...,9,3,FALSE
37,NBA – investigate how opening hours can be ext...,9,3,FALSE
38,,5,3,FALSE
39,,3,3,FALSE
40,,8,2,FALSE
41,,6,2,FALSE
42,,4,2,FALSE
43,,3,2,FALSE
44,,6,0,FALSE
45,,5,0,FALSE
46,,4,0,FALSE
47,,2,0,FALSE
48,,1,0,FALSE

In [130]:
c.execute('delete from tasks;')

[x for x in c.execute('select * from tasks;')]

[]

In [131]:
def insert_row(conn, task):

    sql = ''' INSERT INTO tasks(task, team, objective, complete)
              VALUES(?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, task)
    conn.commit()

    return cur.lastrowid

for i, r in df.iterrows():
    insert_row(conn, r)

In [132]:
pd.read_sql(f'select * from tasks', conn)

,id,task,team,objective,complete
0,372,Develop online reading groups/ facebook groups,7,0,FALSE
1,373,Introduce Kickstart Trainees into libraries,7,0,FALSE
2,374,Reinstate B&SC IT classes at CLN,7,0,FALSE
3,375,Develop online STEAM events,8,0,FALSE
4,376,Develop virtual class visits,8,0,FALSE
5,377,Participate in London City of Stories 2021,8,0,FALSE
6,378,Review participation in national SRC for 2022,8,0,FALSE
7,379,Establish social prescribign routes to adult l...,9,0,FALSE
8,380,Establish social prescribign routes to child/ ...,9,0,FALSE
9,381,Retain programme of online events – planning 1...,9,0,FALSE
10,382,Roll out Windows 10 PCs,9,0,FALSE
11,383,Review all committee forward plans to identify...,1,2,FALSE
12,384,upgrade physical and digital signage/ design s...,2,2,FALSE
13,385,Develop staff training plan (to include skills...,5,2,FALSE
14,386,Relaunch Libraries Leadership Programme,5,2,FALSE
15,387,Develop annual work plan for Libraries Equalit...,7,2,FALSE
16,388,"ESP Project to upgrade boilers, ventilation an...",7,2,FALSE
17,389,New Burnt Oak Library - work with Boost to foc...,7,2,FALSE
18,390,Renew visitor counters,7,2,FALSE
19,391,Develop communications strategy and forward plan,9,2,FALSE
20,392,Ensure that libraries are part of key corporat...,9,2,FALSE
21,393,New Hendon Library - include multi-use/ multi-...,9,2,FALSE
22,394,Open + v2 roll-out,9,2,FALSE
23,395,Develop volunteering strategy and introduce SS...,0,3,FALSE
24,396,Deliver alternative conference/ investigate op...,1,3,FALSE
25,397,Develop proposals for future income generation,1,3,FALSE
26,398,Continue S&C after libraries open for browsing...,2,3,FALSE
27,399,Map existing partnerships and identify gaps,3,3,FALSE
28,400,Map existing partnerships and identify gaps,4,3,FALSE
29,401,Map existing partnerships and identify gaps,5,3,FALSE
30,402,Introduce mechanism for accepting donations.,6,3,FALSE
31,403,Develop volunteering strategy and introduce SS...,7,3,FALSE
32,404,Library Development plans created for all loca...,7,3,FALSE
33,405,Define customer segmentation for marketing and...,8,3,FALSE
34,406,Develop income strategy,9,3,FALSE
35,407,Develop outreach strategy (link to IDP),9,3,FALSE
36,408,Here to Help newly named ‘Discover Your Librar...,9,3,FALSE
37,409,NBA – investigate how opening hours can be ext...,9,3,FALSE
38,410,,5,3,FALSE
39,411,,3,3,FALSE
40,412,,8,2,FALSE
41,413,,6,2,FALSE
42,414,,4,2,FALSE
43,415,,3,2,FALSE
44,416,,6,0,FALSE
45,417,,5,0,FALSE
46,418,,4,0,FALSE
47,419,,2,0,FALSE
48,420,,1,0,FALSE

In [133]:
# task, team, objective, complted
blank_rows_to_fix = [
    # ('', str(get_team_id('Pillar 3')), '0', 'FALSE'),
    # ('', str(get_team_id('Pillar 0')), '2', 'FALSE')
    ('', str(get_team_id('Pillar 0')), '0', 'FALSE')
]
for r in blank_rows_to_fix:
    insert_row(conn, r)

In [134]:
# conn.execute('delete from tasks where id=329')
# conn.commit()
[x for x in conn.execute('select * from tasks where objective=0')]

[(372, 'Develop online reading groups/ facebook groups', '7', '0', 'FALSE'),
 (373, 'Introduce Kickstart Trainees into libraries', '7', '0', 'FALSE'),
 (374, 'Reinstate B&SC IT classes at CLN', '7', '0', 'FALSE'),
 (375, 'Develop online STEAM events', '8', '0', 'FALSE'),
 (376, 'Develop virtual class visits', '8', '0', 'FALSE'),
 (377, 'Participate in London City of Stories 2021', '8', '0', 'FALSE'),
 (378, 'Review participation in national SRC for 2022', '8', '0', 'FALSE'),
 (379,
  'Establish social prescribign routes to adult library services',
  '9',
  '0',
  'FALSE'),
 (380,
  'Establish social prescribign routes to child/ teen library services',
  '9',
  '0',
  'FALSE'),
 (381,
  'Retain programme of online events – planning 1 term ahead',
  '9',
  '0',
  'FALSE'),
 (382, 'Roll out Windows 10 PCs', '9', '0', 'FALSE'),
 (416, '', '6', '0', 'FALSE'),
 (417, '', '5', '0', 'FALSE'),
 (418, '', '4', '0', 'FALSE'),
 (419, '', '2', '0', 'FALSE'),
 (420, '', '1', '0', 'FALSE'),
 (421, '', '3', '0', 'FALSE')]

In [135]:
def _final2(init):
    # task,team,objective,complete
    tasks_table = pd.read_sql('select * from tasks;', conn)
    to_add = []
    checks=[]
    init.columns = ['task','team','objective']
    init['complete'] = 'FALSE'
    for objective in tasks_table.objective.unique():
        for team in tasks_table.team.unique():
            # current_tasks_table to check how many segments are used
            curr_tt = tasks_table[(tasks_table.objective==objective) & (tasks_table.team==team)]
            # current segment on init
            curr_init = init[(init.objective==objective) & (init.team==team)]
            # is the length less than five?
            if len(curr_tt.index)>4:
                continue
            # do we have a task that is not anywhere on tasks table?
            for task in curr_init.task.unique():
                check = pd.concat([tasks_table, pd.DataFrame(to_add, columns=list(init.columns))])
                curr_check = check[(check.objective==objective) & (check.team==team)]
                if task not in tasks_table.task.unique() and len(curr_check.index<5):
                    tup = (task, team, objective, 'FALSE')
                    to_add.append(tup)
    return checks

to_add = _final2(pd.read_csv('objectives_lost.csv', dtype={'task':str, 'team_id':str, 'objective_id':str})[['task','team_id','objective_id']])

In [136]:
to_add

[]

In [137]:
# for r in to_add:
    # insert_row(conn, r)