In [246]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('.data/main.db')
c = conn.cursor()

In [247]:
tables = c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [x[0] for x in c.fetchall()[1:]]
tables

['objectives', 'teams', 'tasks', 'library_values']

In [248]:
objectives, teams, tasks, values = [pd.read_sql(f'select * from {table}', conn) for table in tables]

In [249]:
objectives

   id                                          objective
0   0  Respond to the impacts of the pandemic within ...
1   2      Maximise use of the service and its resources
2   3  Mitigate the risks posed by the pandemic to th...

In [250]:
teams

   id                      team
0   0                  Pillar 0
1   1                  Pillar 1
2   2                  Pillar 2
3   3                  Pillar 3
4   4                  Pillar 4
5   5                  Pillar 5
6   6                  Pillar 6
7   7                Operations
8   8  Service Development Team
9   9           Management Team

In [251]:
def get_team_id(s):
    res = teams[teams.team==s].id.values
    if len(res)<1:
        return s
    else:
        return res[0]

In [252]:
tasks

,id,task,team,objective,complete
0,274,Introduce Kickstart Trainees into libraries,0,0,FALSE
1,275,Develop online conversation cafes,7,0,TRUE
2,276,Introduce remote IT support for customers,7,0,TRUE
3,277,Reinstate B&SC IT classes at CLN,7,0,FALSE
4,278,Reinstate B&SC IT classes at HEN,7,0,TRUE
5,279,Develop online STEAM events,8,0,FALSE
6,280,Develop virtual class visits,8,0,FALSE
7,281,Participate in London City of Stories 2021,8,0,FALSE
8,282,Review participation in national SRC for 2022,8,0,FALSE
9,283,Develop EY nuture groups,9,0,TRUE
10,284,Develop Reading Friends groups,9,0,TRUE
11,285,Funding application for laptop distribution,9,0,TRUE
12,286,Roll out Windows 10 PCs,9,0,FALSE
13,287,Review all committee forward plans to identify...,1,2,FALSE
14,288,upgrade physical and digital signage/ design s...,2,2,FALSE
15,289,Develop staff training plan (to include skills...,5,2,FALSE
16,290,Relaunch Libraries Leadership Programme,5,2,FALSE
17,291,Develop annual work plan for Libraries Equalit...,7,2,FALSE
18,292,"ESP Project to upgrade boilers, ventilation an...",7,2,FALSE
19,293,New Burnt Oak Library - work with Boost to foc...,7,2,FALSE
20,294,Renew visitor counters,7,2,FALSE
21,295,Develop communications strategy and forward plan,9,2,FALSE
22,296,Ensure that libraries are part of key corporat...,9,2,FALSE
23,297,New Hendon Library - include multi-use/ multi-...,9,2,FALSE
24,298,Open + v2 roll-out,9,2,FALSE
25,299,Develop volunteering strategy and introduce SS...,0,3,FALSE
26,300,Deliver alternative conference/ investigate op...,1,3,FALSE
27,301,Develop proposals for future income generation,1,3,FALSE
28,302,Continue S&C after libraries open for browsing...,2,3,FALSE
29,303,Map existing partnerships and identify gaps,3,3,FALSE
30,304,Map existing partnerships and identify gaps,4,3,FALSE
31,305,Map existing partnerships and identify gaps,5,3,FALSE
32,306,Develop income strategy,6,3,FALSE
33,307,Introduce mechanism for accepting donations.,6,3,FALSE
34,308,Revise room booking fees and charges,6,3,TRUE
35,309,Develop volunteering strategy and introduce SS...,7,3,FALSE
36,310,Library Development plans created for all loca...,7,3,FALSE
37,311,Use HLS/MOB to extend reach of S&C.,7,3,TRUE
38,312,Define customer segmentation for marketing and...,8,3,FALSE
39,313,Develop online enquiries service,9,3,TRUE
40,314,Develop outreach strategy (link to IDP),9,3,FALSE
41,315,‘Discover Your Library’ to support customers t...,9,3,FALSE
42,316,NBA – investigate how opening hours can be ext...,9,3,FALSE
43,317,,5,3,FALSE
44,318,,3,3,FALSE
45,319,,8,2,FALSE
46,320,,6,2,FALSE
47,321,,4,2,FALSE
48,322,,3,2,FALSE
49,323,,6,0,FALSE
50,324,,5,0,FALSE
51,325,,4,0,FALSE
52,326,,2,0,FALSE
53,327,,1,0,FALSE
54,330,,3,0,FALSE
55,331,,0,2,FALSE

In [253]:
xl = pd.ExcelFile('Team plan 2020-21 Excel.xlsx')
objs_lu = {'Mitigate risks to lib service ': 3,
 'Impacts of the pandemic': 0,
 'Maximise use of the service': 2}

    # ['Pillar 0',
    # 'Pillar 1',
    # 'Pillar 2',
    # 'Pillar 3',
    # 'Pillar 4',
    # 'Pillar 5',
    # 'Pillar 6',
    # 'Operations',
    # 'Service Development Team',
    # 'Management Team']

team_fix={'CL': 'Management Team',
 'SG': 'Management Team',
 'HR': 'Management Team',
 'RP': 'Management Team',
 'Ops Teams': 'Operations',
 'LMT': 'Management Team',
 'FPR': 'Management Team',
 'P6': 'Pillar 6',
 'P2': 'Pillar 2',
 'Ops Team': 'Operations',
 'Recovery Group': 'Operations',
 'P0': 'Pillar 0',
 'P4': 'Pillar 4',
 'LCSMs': 'Operations',
 'KM': 'Operations',
 'CW': 'Operations',
 'P5': 'Pillar 5',
 'CL/SG': 'Service Development Team',
 'LLL': 'Pillar 1',
 'Early Years': 'Service Development Team',
 'blank': '',
 'HR/RP': 'Management Team',
 'SDL Team': 'Service Development Team',
 'Ops ': 'Operations',
 'SM': 'Operations',
 'NM': 'Service Development Team',
 'P1': 'Pillar 1',
 'II': 'Operations',
 'SGreen': 'Operations',
 'NB': 'Service Development Team',
 'EY': 'Early Years',
 'All Teams': 'All Teams',
 'SDLs': 'Service Development Team',
 'Estates': '',
 'Equalities Group': 'Operations',
 'P3': 'Pillar 3',
 'HP': 'Operations',
 ' ': 'blank',
 'Early Years': 'Service Development Team',
 'Estates':'Operations'}

def _objective_id(s):
        return objectives[objectives.objective==s].id.values[0]

def _fix_hr(xl):
    df = pd.concat([xl.parse(sn, skiprows=2).assign(objective=objs_lu[sn]) for sn in xl.sheet_names]).reset_index().drop('index',axis=1)
    who_cols=[x for x in df.columns if 'Who' in x]
    drop_cols = [x for x in df.columns if 'Unnamed' in x]
    df = df.drop(drop_cols, axis=1)
    cols = ['What', 'Progress', 'objective'] + who_cols
    df = pd.melt(df[cols], id_vars=['What','Progress', 'objective']).rename({'value':'team', 'What':'task'}, axis=1).drop('variable',axis=1)
    df['team'] = df['team'].fillna('blank').apply(lambda x: team_fix[x] if team_fix[x] else x).replace('Early Years','Service Development Team')
    df = df[df.team!='blank']
    objectives_lookup = {id: objective for id, objective in zip(list(objectives.id), list(objectives.objective))}
    df['objective'] = df.objective.apply(lambda x: objectives_lookup[x])
    df['team_id'] = df.team.apply(get_team_id)
    def _fix(d):
        to_fix = d[d.team_id=='All Teams']
        tup = list(to_fix[['task','Progress','objective']].itertuples(index=False, name=None))[0]
        out_cols = ['task', 'Progress', 'objective', 'team', 'team_id']
        _teams = list(teams.team.unique())
        rows = []
        for t in _teams:
            rows.append(tup + (t, get_team_id(t)))
        ndf = pd.DataFrame(rows, columns=out_cols)
        return pd.concat([d[d.team_id!='All Teams'], ndf])
    df = _fix(df).reset_index().drop('index', axis=1)
    df['team_id']=pd.to_numeric(df['team_id'])
    def _objective_id(s):
        return objectives[objectives.objective==s].id.values[0]
    df['objective_id'] = df.objective.apply(_objective_id)
    out_cols = ['task','team','objective','complete']

    def _max_is_four_per_seg(df):
        # which segments have more than four - make a count column
        # return pd.merge(df, df[['objective','team','task']].groupby(['objective', 'team']).cumcount().reset_index().rename({'task':'seg_count'}, axis=1))
        df['seg_count']= df[['objective','team','task']].groupby(['objective', 'team']).cumcount()
        df['seg_count'] = df['seg_count'].apply(lambda x: x+1)
        # df['seg_count_max']= df[['objective','team','seg_count']].groupby(['objective', 'team']).max()
        return df.merge(df[['objective','team','seg_count']].groupby(['objective', 'team']).max().reset_index().rename({'seg_count':'seg_count_max'}, axis=1))
    
    # ['Pillar 0',
    # 'Pillar 1',
    # 'Pillar 2',
    # 'Pillar 3',
    # 'Pillar 4',
    # 'Pillar 5',
    # 'Pillar 6',
    # 'Operations',
    # 'Service Development Team',
    # 'Management Team']
    df = _max_is_four_per_seg(df.sort_values(['objective_id','team_id'], ascending=False))
    return df

df = _fix_hr(xl)
df

,task,Progress,objective,team,team_id,objective_id,seg_count,seg_count_max
0,NBA – investigate how opening hours can be ext...,Open,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,1,22
1,Here to Help newly named ‘Discover Your Librar...,Open,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,2,22
2,Develop outreach strategy (link to IDP),Open,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,3,22
3,Develop online enquiries service,completed,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,4,22
4,Develop income strategy,Open,Mitigate the risks posed by the pandemic to th...,Management Team,9,3,5,22
...,...,...,...,...,...,...,...,...
122,Participate in London City of Stories 2021,Open,Respond to the impacts of the pandemic within ...,Operations,7,0,8,10
123,Introduce Kickstart Trainees into libraries,Started,Respond to the impacts of the pandemic within ...,Operations,7,0,9,10
124,Retain programme of online events – planning 1...,started,Respond to the impacts of the pandemic within ...,Operations,7,0,10,10
125,Review participation in national SRC for 2022,open,Respond to the impacts of the pandemic within ...,Pillar 3,3,0,1,1
126,Introduce Kickstart Trainees into libraries,Started,Respond to the impacts of the pandemic within ...,Pillar 0,0,0,1,1

In [254]:
def _final(init):
    final = init[init.Progress!='completed'].sort_values(['team_id','objective_id'], ascending=False).drop_duplicates(subset='team', keep='first')
    df = init.loc[[x for x in init.index if x not in final.index]].sort_values(['team_id','objective_id'], ascending=False)
    cols = ['task', 'Progress', 'objective', 'team', 'team_id', 'objective_id',
       'seg_count', 'seg_count_max']
    # checks
    # 1. if the task is not in final, and the current seg count is less than 5 add it 
    for idx, row, in df.iterrows():
        task, prog, obj, team, teamid, objid, segcount, segcountmax = tuple(row)
        curr_seg_count = final[(final.objective==obj)&(final.team==team)].task.count()
        if task not in list(final.task.unique()) and curr_seg_count<4:
            r = pd.Series(row, index=cols)
            final = final.append(r, ignore_index=True)
    final['seg_count']= final[['objective','team','task']].groupby(['objective', 'team']).cumcount().apply(lambda x: x+1)
    # df.merge(df[['objective','team','seg_count']].groupby(['objective', 'team']).max().reset_index().rename({'seg_count':'seg_count_max'}, axis=1))
    final = final.drop('seg_count_max',axis=1).sort_values(['task','team_id']).merge(final[['objective','team','seg_count']].groupby(['objective', 'team']).max().reset_index().rename({'seg_count':'seg_count_max'}, axis=1)).sort_values(['objective_id','team_id'])
    # check 2 - add any blanks, so if each objective and team doesn't have one task then add a row with blank '' task
    for objective in df.objective.unique():
        for team in df.team.unique():
            check = len(df[(df.objective==objective) & (df.team==team)].index)
            if check<1:
                tup = ('','incomplete',objective, team,get_team_id(team), _objective_id(objective), 1, 1)
                r = pd.Series(tup, index=cols)
                final = final.append(r, ignore_index=True)
    final = final[['task','team_id','objective_id','Progress']]
    final.columns=['task','team','objective','complete']
    final['complete'] = final.complete.apply(lambda x: 'TRUE' if x=='completed' else 'FALSE')
    init[~init.task.isin(final.task)].to_csv('objectives_lost.csv',index=False)
    return final


df = _final(df)
df

,task,team,objective,complete
0,Introduce Kickstart Trainees into libraries,0,0,FALSE
1,Develop online conversation cafes,7,0,TRUE
2,Introduce remote IT support for customers,7,0,TRUE
3,Reinstate B&SC IT classes at CLN,7,0,FALSE
4,Reinstate B&SC IT classes at HEN,7,0,TRUE
5,Develop online STEAM events,8,0,FALSE
6,Develop virtual class visits,8,0,FALSE
7,Participate in London City of Stories 2021,8,0,FALSE
8,Review participation in national SRC for 2022,8,0,FALSE
9,Develop EY nuture groups,9,0,TRUE
10,Develop Reading Friends groups,9,0,TRUE
11,Funding application for laptop distribution,9,0,TRUE
12,Roll out Windows 10 PCs,9,0,FALSE
13,Review all committee forward plans to identify...,1,2,FALSE
14,upgrade physical and digital signage/ design s...,2,2,FALSE
15,Develop staff training plan (to include skills...,5,2,FALSE
16,Relaunch Libraries Leadership Programme,5,2,FALSE
17,Develop annual work plan for Libraries Equalit...,7,2,FALSE
18,"ESP Project to upgrade boilers, ventilation an...",7,2,FALSE
19,New Burnt Oak Library - work with Boost to foc...,7,2,FALSE
20,Renew visitor counters,7,2,FALSE
21,Develop communications strategy and forward plan,9,2,FALSE
22,Ensure that libraries are part of key corporat...,9,2,FALSE
23,New Hendon Library - include multi-use/ multi-...,9,2,FALSE
24,Open + v2 roll-out,9,2,FALSE
25,Develop volunteering strategy and introduce SS...,0,3,FALSE
26,Deliver alternative conference/ investigate op...,1,3,FALSE
27,Develop proposals for future income generation,1,3,FALSE
28,Continue S&C after libraries open for browsing...,2,3,FALSE
29,Map existing partnerships and identify gaps,3,3,FALSE
30,Map existing partnerships and identify gaps,4,3,FALSE
31,Map existing partnerships and identify gaps,5,3,FALSE
32,Develop income strategy,6,3,FALSE
33,Introduce mechanism for accepting donations.,6,3,FALSE
34,Revise room booking fees and charges,6,3,TRUE
35,Develop volunteering strategy and introduce SS...,7,3,FALSE
36,Library Development plans created for all loca...,7,3,FALSE
37,Use HLS/MOB to extend reach of S&C.,7,3,TRUE
38,Define customer segmentation for marketing and...,8,3,FALSE
39,Develop online enquiries service,9,3,TRUE
40,Develop outreach strategy (link to IDP),9,3,FALSE
41,Here to Help newly named ‘Discover Your Librar...,9,3,FALSE
42,NBA – investigate how opening hours can be ext...,9,3,FALSE
43,,5,3,FALSE
44,,3,3,FALSE
45,,8,2,FALSE
46,,6,2,FALSE
47,,4,2,FALSE
48,,3,2,FALSE
49,,6,0,FALSE
50,,5,0,FALSE
51,,4,0,FALSE
52,,2,0,FALSE
53,,1,0,FALSE

In [255]:
c.execute('delete from tasks;')

[x for x in c.execute('select * from tasks;')]

[]

In [256]:
def insert_row(conn, task):

    sql = ''' INSERT INTO tasks(task, team, objective, complete)
              VALUES(?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, task)
    conn.commit()

    return cur.lastrowid

for i, r in df.iterrows():
    insert_row(conn, r)

In [257]:
pd.read_sql(f'select * from tasks', conn)

,id,task,team,objective,complete
0,332,Introduce Kickstart Trainees into libraries,0,0,FALSE
1,333,Develop online conversation cafes,7,0,TRUE
2,334,Introduce remote IT support for customers,7,0,TRUE
3,335,Reinstate B&SC IT classes at CLN,7,0,FALSE
4,336,Reinstate B&SC IT classes at HEN,7,0,TRUE
5,337,Develop online STEAM events,8,0,FALSE
6,338,Develop virtual class visits,8,0,FALSE
7,339,Participate in London City of Stories 2021,8,0,FALSE
8,340,Review participation in national SRC for 2022,8,0,FALSE
9,341,Develop EY nuture groups,9,0,TRUE
10,342,Develop Reading Friends groups,9,0,TRUE
11,343,Funding application for laptop distribution,9,0,TRUE
12,344,Roll out Windows 10 PCs,9,0,FALSE
13,345,Review all committee forward plans to identify...,1,2,FALSE
14,346,upgrade physical and digital signage/ design s...,2,2,FALSE
15,347,Develop staff training plan (to include skills...,5,2,FALSE
16,348,Relaunch Libraries Leadership Programme,5,2,FALSE
17,349,Develop annual work plan for Libraries Equalit...,7,2,FALSE
18,350,"ESP Project to upgrade boilers, ventilation an...",7,2,FALSE
19,351,New Burnt Oak Library - work with Boost to foc...,7,2,FALSE
20,352,Renew visitor counters,7,2,FALSE
21,353,Develop communications strategy and forward plan,9,2,FALSE
22,354,Ensure that libraries are part of key corporat...,9,2,FALSE
23,355,New Hendon Library - include multi-use/ multi-...,9,2,FALSE
24,356,Open + v2 roll-out,9,2,FALSE
25,357,Develop volunteering strategy and introduce SS...,0,3,FALSE
26,358,Deliver alternative conference/ investigate op...,1,3,FALSE
27,359,Develop proposals for future income generation,1,3,FALSE
28,360,Continue S&C after libraries open for browsing...,2,3,FALSE
29,361,Map existing partnerships and identify gaps,3,3,FALSE
30,362,Map existing partnerships and identify gaps,4,3,FALSE
31,363,Map existing partnerships and identify gaps,5,3,FALSE
32,364,Develop income strategy,6,3,FALSE
33,365,Introduce mechanism for accepting donations.,6,3,FALSE
34,366,Revise room booking fees and charges,6,3,TRUE
35,367,Develop volunteering strategy and introduce SS...,7,3,FALSE
36,368,Library Development plans created for all loca...,7,3,FALSE
37,369,Use HLS/MOB to extend reach of S&C.,7,3,TRUE
38,370,Define customer segmentation for marketing and...,8,3,FALSE
39,371,Develop online enquiries service,9,3,TRUE
40,372,Develop outreach strategy (link to IDP),9,3,FALSE
41,373,Here to Help newly named ‘Discover Your Librar...,9,3,FALSE
42,374,NBA – investigate how opening hours can be ext...,9,3,FALSE
43,375,,5,3,FALSE
44,376,,3,3,FALSE
45,377,,8,2,FALSE
46,378,,6,2,FALSE
47,379,,4,2,FALSE
48,380,,3,2,FALSE
49,381,,6,0,FALSE
50,382,,5,0,FALSE
51,383,,4,0,FALSE
52,384,,2,0,FALSE
53,385,,1,0,FALSE

In [260]:
# task, team, objective, complted
blank_rows_to_fix = [
    ('', str(get_team_id('Pillar 3')), '0', 'FALSE'),
    # ('', str(get_team_id('Pillar 3')), '0', 'FALSE')
]
insert_row(conn, blank_rows_to_fix[0])

387

In [259]:
# conn.execute('delete from tasks where id=329')
# conn.commit()
[x for x in conn.execute('select * from tasks where objective=0')]

[(332, 'Introduce Kickstart Trainees into libraries', '0', '0', 'FALSE'),
 (333, 'Develop online conversation cafes', '7', '0', 'TRUE'),
 (334, 'Introduce remote IT support for customers', '7', '0', 'TRUE'),
 (335, 'Reinstate B&SC IT classes at CLN', '7', '0', 'FALSE'),
 (336, 'Reinstate B&SC IT classes at HEN', '7', '0', 'TRUE'),
 (337, 'Develop online STEAM events', '8', '0', 'FALSE'),
 (338, 'Develop virtual class visits', '8', '0', 'FALSE'),
 (339, 'Participate in London City of Stories 2021', '8', '0', 'FALSE'),
 (340, 'Review participation in national SRC for 2022', '8', '0', 'FALSE'),
 (341, 'Develop EY nuture groups', '9', '0', 'TRUE'),
 (342, 'Develop Reading Friends groups', '9', '0', 'TRUE'),
 (343, 'Funding application for laptop distribution', '9', '0', 'TRUE'),
 (344, 'Roll out Windows 10 PCs', '9', '0', 'FALSE'),
 (381, '', '6', '0', 'FALSE'),
 (382, '', '5', '0', 'FALSE'),
 (383, '', '4', '0', 'FALSE'),
 (384, '', '2', '0', 'FALSE'),
 (385, '', '1', '0', 'FALSE')]