In [8]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('.data/main.db')
c = conn.cursor()

In [9]:
tables = c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [x[0] for x in c.fetchall()[1:]]
tables

['objectives', 'teams', 'tasks', 'library_values']

In [10]:
objectives, teams, tasks, values = [pd.read_sql(f'select * from {table}', conn) for table in tables]

In [11]:
objectives

   id                                          objective
0   0  Respond to the impacts of the pandemic within ...
1   2      Maximise use of the service and its resources
2   3  Mitigate the risks posed by the pandemic to th...

In [39]:
teams

   id                      team
0   0                  Pillar 0
1   1                  Pillar 1
2   2                  Pillar 2
3   3                  Pillar 3
4   4                  Pillar 4
5   5                  Pillar 5
6   6                  Pillar 6
7   7                Operations
8   8  Service Development Team
9   9           Management Team

In [20]:
tasks

,id,task,team,objective,complete
0,1,,0,3,FALSE
1,2,,0,2,FALSE
2,4,,0,0,FALSE
3,5,Conference options outside in June or online,1,3,FALSE
4,6,Review committee forward plans to potential sy...,1,2,FALSE
5,8,,1,0,FALSE
6,12,,2,0,FALSE
7,13,,2,2,FALSE
8,14,‘Discover Your Library’ to support customers t...,2,3,FALSE
9,17,,3,3,FALSE
10,18,Review participation in national SRC,3,0,FALSE
11,20,,3,2,FALSE
12,22,‘Discover Your Library’ to support customers t...,4,3,FALSE
13,23,,4,0,FALSE
14,27,,4,2,FALSE
15,29,,5,3,FALSE
16,30,,5,2,FALSE
17,34,,5,0,FALSE
18,36,Donations,6,3,FALSE
19,37,,6,2,FALSE
20,38,,6,0,FALSE
21,44,,7,2,FALSE
22,45,Develop volunteering strategy and introduce SS...,7,3,FALSE
23,49,Develop online enquiries service,8,3,FALSE
24,60,Promote partnership activities online and esta...,8,0,FALSE
25,65,Develop communications strategy and plan,8,2,FALSE
26,69,NBA – investigate extended hours,9,3,FALSE
27,73,Integrated space in new Hendon Library,9,2,FALSE
28,75,Roll out Windows 10 PCs,9,0,FALSE
29,81,Develop online conversation cafes/reading groups,7,0,FALSE
30,82,Use HLS/MOB to extend reach of S&C,7,3,FALSE
31,83,Develop outreach strategy,9,3,FALSE
32,84,Develop outreach strategy,4,3,FALSE
33,85,Investigate continue S&C,7,3,FALSE
34,86,Investigate continue S&C,2,3,FALSE
35,87,Review commercial/lib space utility billing,8,3,FALSE
36,88,Income gen brainstorm,6,3,FALSE
37,89,Revise room booking fees,9,3,FALSE
38,90,Revise room booking fees,6,3,FALSE
39,91,Review maint/waste/utility costs,9,3,FALSE
40,92,LIPS to identify local community groups,7,3,FALSE
41,93,Develop Technology forward plan,9,3,FALSE
42,94,Develop targeted EY support groups,8,0,FALSE
43,95,Establish social prescribing routes,9,0,FALSE
44,96,Festival of Stories,8,0,FALSE
45,97,Review participation in national SRC,9,0,FALSE
46,98,Develop food/lunch element to SRC,8,0,FALSE
47,99,Open+ V2 at EDG and community libs implementat...,9,2,FALSE
48,100,Activist report recommendations,9,2,FALSE
49,101,Equalities Allies work plan,8,2,FALSE
50,102,Training plan and leadership course,9,2,FALSE
51,103,Inflation bid,9,3,FALSE
52,104,Contact main suppliers re Brexit plans in place,8,3,FALSE
53,105,Staff affected have appropriate status,8,3,FALSE
54,106,"Reinstate B&SC IT classes at HEN, CLN",7,0,FALSE
55,107,List/promote IT classes partnership activities...,7,0,FALSE
56,108,Introduce remote IT support for customers,7,0,TRUE
57,109,Reading Friends groups,8,0,FALSE

In [74]:
xl = pd.ExcelFile('Team plan 2020-21 Excel.xlsx')
objs_lu = {'Mitigate risks to lib service ': 3,
 'Impacts of the pandemic': 0,
 'Maximise use of the service': 2}

    # ['Pillar 0',
    # 'Pillar 1',
    # 'Pillar 2',
    # 'Pillar 3',
    # 'Pillar 4',
    # 'Pillar 5',
    # 'Pillar 6',
    # 'Operations',
    # 'Service Development Team',
    # 'Management Team']

team_fix={'CL': 'Management Team',
 'SG': 'Management Team',
 'HR': 'Management Team',
 'RP': 'Management Team',
 'Ops Teams': 'Operations',
 'LMT': 'Management Team',
 'FPR': 'Management Team',
 'P6': 'Pillar 6',
 'P2': 'Pillar 2',
 'Ops Team': 'Operations',
 'Recovery Group': 'Operations',
 'P0': 'Pillar 0',
 'P4': 'Pillar 4',
 'LCSMs': 'Operations',
 'KM': 'Operations',
 'CW': 'Operations',
 'P5': 'Pillar 5',
 'CL/SG': 'Service Development Team',
 'LLL': 'Pillar 1',
 'Early Years': 'Service Development Team',
 'blank': '',
 'HR/RP': 'Management Team',
 'SDL Team': 'Service Development Team',
 'Ops ': 'Operations',
 'SM': 'Operations',
 'NM': 'Service Development Team',
 'P1': 'Pillar 1',
 'II': 'Operations',
 'SGreen': 'Operations',
 'NB': 'Service Development Team',
 'EY': 'Early Years',
 'All Teams': 'All Teams',
 'SDLs': 'Service Development Team',
 'Estates': '',
 'Equalities Group': 'Operations',
 'P3': 'Pillar 3',
 'HP': 'Operations',
 ' ': ''}

def _fix_hr(xl):
    df = pd.concat([xl.parse(sn, skiprows=2).assign(objective=objs_lu[sn]) for sn in xl.sheet_names]).reset_index().drop('index',axis=1)
    who_cols=[x for x in df.columns if 'Who' in x]
    drop_cols = [x for x in df.columns if 'Unnamed' in x]
    df = df.drop(drop_cols, axis=1)
    cols = ['What', 'Progress', 'objective'] + who_cols
    df = pd.melt(df[cols], id_vars=['What','Progress', 'objective']).rename({'value':'team', 'What':'task'}, axis=1).drop('variable',axis=1)
    df['team'] = df['team'].fillna('blank').apply(lambda x: team_fix[x] if team_fix[x] else x)
    objectives_lookup = {id: objective for id, objective in zip(list(objectives.id), list(objectives.objective))}
    df['objective'] = df.objective.apply(lambda x: objectives_lookup[x])
    # ['Pillar 0',
    # 'Pillar 1',
    # 'Pillar 2',
    # 'Pillar 3',
    # 'Pillar 4',
    # 'Pillar 5',
    # 'Pillar 6',
    # 'Operations',
    # 'Service Development Team',
    # 'Management Team']
    return df.sort_values(['objective','team','task']).to_csv('objectivesfix.csv',index=False)

_fix_hr(xl)
# xl.sheet_names